
<div style="height: 190px; background-image: url('assets/img/membretado.jpg');
background-repeat: no-repeat; background-position: top center;"></div>
<div style="padding: 0px 20px 10px 20px; margin:0 auto; max-width: 1600px;">
    <!--<div style="height: 210px; background-image: url('assets/img/membretado.jpg');
    background-repeat: no-repeat; background-position: top center;"></div>-->
  <div class="row">
    <div class="col-md-12">
      <h3 style="text-align: center"> REGISTRO INDIVIDUAL </h3>
      <table class="table table-sm">
 <!--{{artista | json}}-->
        <tbody>
          <tr>
            <td>
              <div class="col-md-12">
                <div class="info-name">Fecha de Registro:
                  <span class="value">{{artista.d_fecha_registro}}</span>
                </div>
                <div class="info-name">Departamento:
                  <span class="value">{{artista.Departamento}}</span>
                </div>
                <div class="info-name">Provincia:
                  <span class="value">{{artista.Provincia}}</span>
                </div>
                <div class="info-name">Municipio:
                  <span class="value">{{artista.Localidad}}</span>
                </div>
                <div class="info-name">Auto Identificación Cultural:
                  <span class="value">{{artista.comunidad}}</span>
                </div>
                <!--<div class="info-name">Residencia:
                  <span class="value">{{artista.Residencia}}</span>
                </div>-->
              </div>
            </td>
            <td>
              <div class="info-name">Artista: 
                <span class="value"> {{artista.d_nombres}} {{artista.d_apellidos}} </span>
              </div>
              <!--<div class="info-name">C.I.: <span class="value">{{artista.d_cedula}}</span></div>-->
              <div class="info-name">Lugar de Nacimiento: <span class="value">{{nac}}</span></div>
              <div class="info-name">Fecha de Nacimiento: <span class="value">{{artista.d_fecha_nacimiento}}</span></div>
              <div class="info-name">Sexo: <span class="value">{{artista.d_sexo}}</span></div>
              <div class="info-name">Nombre Artístico: <span class="value">{{artista.d_nombre_artistico}}</span></div>

              <div class="info-name">Domicilio Actual: <span class="value">{{artista.d_domicilio}}</span></div>
              <div class="info-name">Número Teléfono/Celular: <span class="value">{{artista.d_telefono}}/{{artista.d_celular}}</span></div>
              <div class="info-name">Correo Electrónico:  <span class="value">{{artista.d_email}}</span></div>
              <div class="info-name">Página Web:  <span class="value">{{artista.d_pagina_web}}</span></div>
              <div class="info-name">YouTube Blog:  <span class="value">{{artista.d_youtube}}</span></div>
              <div class="info-name">Facebook:  <span class="value">{{artista.d_otros}}</span></div>
            </td>
            <td>
                <div class="col-sm-6">
                    <img *ngIf="base64Foto" [src]="'data:image/jpg;base64,'+base64Foto" width="200px" class="img-responsive img-thumbnail"/>
                    <!--<div class="info-name">{{artista.numero_registro}}</div>-->
                    <div class="info-name">C.I.: <span class="value>">{{artista.d_cedula}} {{exp}} </span></div>                  
                </div>
            </td>
          </tr>

        </tbody>
      </table>
      <br>
      <table class="table table-sm table-bordered">

        <tbody>
          <tr>
            <td>
              <div class="col-md-12">
                <div class="info-name">Sector: <span class="value">{{artista.d_desc_cat}}</span> Sub Sector: <span class="value">{{artista.d_desc_sub_cat}}</span></div>
                <div class="info-name">Actividad: <span class="value">{{artista.d_desc_act}}</span> Especialidad: <span class="value">{{artista.d_desc_esp}}</span></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col-md-12">
              <div class="info-name">Sindicato/Asociación: <span class="value">{{artista.d_institucion}}</span></div>
              <!--<div class="info-name">Biografía: : <span class="value">{{artista.d_experiencia}}</span></div>-->
              <qr-code [value]="qr" [size]="100"></qr-code>
            </div>
            </td>
          </tr>
        </tbody>
      </table>

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6" style="padding-top:120px">
        <div style="text-align: center">
            
          <span class="firma"> {{artista.d_nombres}} {{artista.d_apellidos}} </span>
          <p class="firma"> Artista </p>
        </div>
      </div>
      <div class="col-md-6" style="padding-top:20px">
        <!--<img src="assets/img/firma.png" alt="" style="display: block; margin-left: auto; margin-right: auto;">-->
        <img [src]="imgFirma" alt="" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </div>
</div>
<br>
<div class="col-md-12">
  El presente documento constituye una declaración jurada, por tanto yo {{artista.d_nombres}} {{artista.d_apellidos}} doy fe que todos los datos declarados en el presente documento, corresponden a la verdad. De comprobarse la falsedad de alguno de ellos, seré sujeto(a) a las sanciones que establece la ley. 
</div>

    </div>
  </div>
  <div style="height: 190px; background-image: url('assets/img/membretado_pie.jpg');
background-repeat: no-repeat; background-position: top center;"></div>
</div>

