
<div *ngIf="rol != 4">
<h4 class="page-title txt-color-blueDark">
    <i class="fa-fw fa fa-user"></i> 
        LISTADO DE ARTISTAS
        <span>>  
            Individual
  </span>
</h4>

    <!--<pre>{{listaIndividual | json}}</pre>-->

    <!--<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
          <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
          <input #gb type="text" pInputText size="50" style="float:left" placeholder="Buscar">
        </div>-->

<div class="row">
  <div class="col-md-12">
    <p-dataTable [value]="listaIndividual" [rows]="10" [paginator]="true" [globalFilter]="gb" emptyMessage="No se encontraron registros">
      <p-column [style]="{'width':'5%'}" header="N°">
        <ng-template let-index="rowIndex" pTemplate type="body">
          <span>{{index+1}}</span>
        </ng-template>
      </p-column>
      <p-column field="d_cedula" header="Cedula de Identidad"></p-column>
      <p-column field="d_nombres" header="Nombres"></p-column>
      <p-column field="d_apellidos" header="Apelidos"></p-column>
      <p-column field="id_estado" header="Estado"></p-column>
      <p-column [style]="{'width':'10%'}" header="Acciones">
        <ng-template let-doc="rowData" pTemplate type="body">
            <button type="button" pButton (click)="ver(doc.id_individual)" title="Ver Hoja Artistica" icon="fa-address-card-o"></button>
            <button type="button" pButton (click)="editarFormulario(doc.id_individual)" title="Editar Formulario" icon="fa-edit"></button>
            <button type="button" pButton (click)="enviarFormulario(doc.id_individual)" title="Enviar Formulario" icon="fa-send"></button>
            <button type="button" pButton (click)="verFormulario(doc.id_individual)" title="Imprimir Formulario" icon="fa-print"></button>
            <button type="button" pButton (click)="verCredencial(doc.id_individual)" title="Ver Credencial" icon="fa fa-id-card"></button>
            <button type="button" pButton (click)="verPerfil(doc.id_individual)" title="Ver Credencial" icon="fa fa-user"></button>

          <!--<div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary btn-sm dropdown-toggle">
    Acción <span class="caret"></span>
  </button>

            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem"><a class="dropdown-item" (click)="ver(doc.id_individual)">Ver</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="deleteDoc(doc.id)">Eliminar</a></li>
            </ul>
          </div>-->
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
  </div>
  </div>
  <br>
<!--<app-modal-confirmacion (aceptarModalConfirmacion) = "aceptarModalConfirmacionFormularioDam();"></app-modal-confirmacion>-->
<div *ngIf="rol == 4">
  <h4 class="page-title txt-color-blueDark">
    <i class="fa-fw fa fa-user"></i> 
        LISTADO DE FORMULARIOS
        <span>>  
            INDIVIDUAL
  </span>
</h4>
<div class="row">
  <div class="col-md-12">
    <p-dataTable [value]="listaIndividualbyCi" [rows]="10" [paginator]="true" [globalFilter]="gb" emptyMessage="No se encontraron registros">
      <p-column [style]="{'width':'5%'}" header="N°">
        <ng-template let-index="rowIndex" pTemplate type="body">
          <span>{{index+1}}</span>
        </ng-template>
      </p-column>
      <p-column field="d_cedula" header="Cedula de Identidad"></p-column>
      <p-column field="d_nombres" header="Nombres"></p-column>
      <p-column field="d_apellidos" header="Apelidos"></p-column>
      <p-column field="id_estado" header="Estado"></p-column>
      <p-column [style]="{'width':'10%'}" header="Acciones">
        <ng-template let-doc="rowData" pTemplate type="body">
            <button type="button" pButton (click)="ver(doc.id_individual)" icon="fa-profile icon"></button>
            <button type="button" pButton (click)="editarFormulario(doc.id_individual)" icon="fa-edit"></button>
            <button type="button" pButton (click)="enviarFormulario(doc.id_individual)" icon="fa-send"></button>
            <button type="button" pButton (click)="verFormulario(doc.id_individual)" icon="fa-print"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
  </div>
</div>
