		<header id="header">
			<div id="logo-group"><strong>SISTEMA DE REGISTRO DE ARTISTAS</strong>
			

				<!-- PLACE YOUR LOGO HERE -->
				<!--<span id="logo"> <img src="img/logo.png" alt="SmartAdmin"> </span>-->
				

			</div>

			<div class="pull-right">
				
				<!-- Top menu profile link : this shows only when top menu is active -->
				<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
					<li class="">
						<a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown"> 
							<!--<img src="img/avatars/sunny.png" alt="John Doe" class="online" />  -->
						</a>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#ajax/profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="login.html" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
							</li>
						</ul>
					</li>
				</ul>

			
			
				
				<div id="logout" class="btn-header transparent pull-right">
					<span> 
						<a routerLink="/" routerLinkActive="active" title="Sign Out" data-action="userLogout">Salir <i class="fa fa-sign-out"></i></a> </span>
				</div>
				<div class="btn-header transparent pull-right">
						<span> <a href="login.html" title="Sign Out">Perfil <i class="fa fa-gear fa-fw"></i></a> </span>
				</div>
				<div class="btn-header transparent pull-right" style="margin-top:15px;">
						Usuario: <strong> {{nombre}} {{apellido}}</strong>
				</div>
				<!-- end logout button -->

				<!-- search mobile button (this is hidden till mobile view port) -->
				<div id="search-mobile" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
				</div>
				<!-- end search mobile button -->

			</div>
			<!-- end pulled right: nav area -->

		</header>
		<!-- END HEADER -->

		<!-- #NAVIGATION -->
		<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS/SASS variables -->
		<aside id="left-panel">

			<nav>
				<!-- 
				NOTE: Notice the gaps after each icon usage <i></i>..
				Please note that these links work a bit different than
				traditional href="" links. See documentation for details.
				-->

				<ul>
					<<!--li class="">
						<a href="index.html" title="blank_"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Blank</span></a>
					</li>
					<li>
							<a href="index.html">
								<i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
						</li>-->
						<li >
							<a routerLink="registro-individual" routerLinkActive="active">
								<i class="fa fa-lg fa-fw fa-user"></i>
								<span class="menu-item-parent">Registro Individual</span>
							</a>
						</li>
						<li>
								<a routerLink="listado-artistas" routerLinkActive="active">
									<i class="fa fa-lg fa-fw fa-list"></i>
									<span class="menu-item-parent">Listado Individual</span>
								</a>
							</li>
						<li>
							<a routerLink="registro-colectivo" routerLinkActive="active">
								<i class="fa fa-lg fa-fw fa-group"></i>
								<span class="menu-item-parent">Registro Colectivo</span>
							</a>
						</li>
						<li>
							<a routerLink="listado-colectivos" routerLinkActive="active">
								<i class="fa fa-lg fa-fw fa-list"></i>
								<span class="menu-item-parent">Listado Colectivo</span>
							</a>
						</li>
						<li *ngIf="rol == 1 || rol == 2">
							<a routerLink="usuarios" routerLinkActive="active">
								<i class="fa fa-lg fa-fw fa-key"></i>
								<span class="menu-item-parent">Usuarios de Sistema</span>
							</a>
						</li>
						<li *ngIf="rol == 1">
							<a routerLink="categorias" routerLinkActive="active">
								<i class="fa fa-lg fa-fw fa-list"></i>
								<span class="menu-item-parent">Categorias</span>
							</a>
						</li>
						<li>
							<a routerLink="estadisticas" routerLinkActive="active">
								<i class="fa fa-lg fa-fw fa-pie"></i>
								<span class="menu-item-parent">Estadisticas</span>
							</a>
						</li>
					<li>
					<li>
						
				</ul>
			</nav>

			<!--<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>-->

		</aside>
		<!-- END NAVIGATION -->
		
		<!-- #MAIN PANEL -->
		<div id="main" role="main">

			<!-- RIBBON -->
			
			<!-- END RIBBON -->

			<!-- #MAIN CONTENT -->

				
				<!-- col -->
				<div class="col-md-12">
						<router-outlet></router-outlet>
					
					
				</div>
				<!-- end col -->
				

			<!-- end row -->
			
			<!-- END #MAIN CONTENT -->

		</div>
		<!-- END #MAIN PANEL -->

		<!-- #PAGE FOOTER -->
		<div class="page-footer">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<!--<span class="txt-color-white">SmartAdmin 1.9.x <span class="hidden-xs"> - Web Application Framework</span> © 2017-2019</span>-->
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- END FOOTER -->

		<!-- #SHORTCUT AREA : With large tiles (activated via clicking user name tag)
			 Note: These tiles are completely responsive, you can add as many as you like -->
		<div id="shortcut">
			<ul>
				<li>
					<a href="index.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
				</li>
			</ul>
		</div>
		<!-- END SHORTCUT AREA -->

	
		<!--<div id="wrapper">

				<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
					<div class="navbar-header">
						<div class="pull-left">
							<h4>SISTEMA REGISTRO DE ARTISTAS</h4>
						</div>
					</div>
			
					<ul class="nav navbar-top-links navbar-right">
						<strong>John Smith</strong>
						<a href="#">
							<i class="fa fa-user fa-fw"></i> Perfil</a>
						<a href="#">
							<i class="fa fa-gear fa-fw"></i> Configuracion</a>
						<a href="login.html">
							<i class="fa fa-sign-out fa-fw"></i> Salir</a>
			
			
					</ul>
			
					<div class="navbar-default sidebar" role="navigation">
						<div class="sidebar-nav">
							
							<ul class="nav">
								<li>
									<a href="index.html">
										<i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
								</li>
								<li>
									<a routerLink="registro-colectivo" routerLinkActive="active">
										<i class="fa fa-lg fa-fw fa-group"></i>
										<span class="menu-item-parent">Registro Colectivo</span>
									</a>
								</li>
								<li>
									<a routerLink="registro-individual" routerLinkActive="active">
										<i class="fa fa-lg fa-fw fa-user"></i>
										<span class="menu-item-parent">Registro Individual</span>
									</a>
								</li>
								<li>
										<a routerLink="listado-artistas" routerLinkActive="active">
											<i class="fa fa-lg fa-fw fa-list"></i>
											<span class="menu-item-parent">Listado Individual</span>
										</a>
									</li>
			
							</ul>
						</div>
					</div>
				</nav>
			
				<div id="page-wrapper">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12">
								<router-outlet></router-outlet>
							</div>
						</div>
					</div>
				</div>
			</div>-->
			
			