<!--<<div style="background: rgba(76, 160, 97, 0.562); padding: 100px;">-->
  <div style="background:#E2E2E2; margin: 0 auto; width: 1024px;">
      <div style="height: 210px; background-image: url('assets/img/background2.jpg');
      background-repeat: no-repeat; background-position: top center;"></div>
  <div style="background: #E2E2E2; padding: 30px;">
      
  <div class="row">
      <div class="col-sm-12 col-md-12">
          <div class="well well-light well-sm no-margin no-padding">

            <div class="row">

              <div class="col-sm-12">
                  <div class="padding-10">
                  <!--<h3>Perfil de Artista   </h3>-->
                </div>
                <!--<div id="myCarousel" class="carousel fade profile-carousel">
                  <div class="air air-bottom-right">
                    <a href="javascript:void(0);" class="btn txt-color-white bg-color-teal btn-sm"><i class="fa fa-check"></i> Follow</a>&nbsp; <a href="javascript:void(0);" class="btn txt-color-white bg-color-pinkDark btn-sm"><i class="fa fa-link"></i> Connect</a>
                  </div>
                  <div class="air air-top-left padding-10">
                    <h4 class="txt-color-white font-md">Jan 1, 2014</h4>
                  </div>
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                  </ol>
                </div>-->
              </div>

              <div id="img"class="col-sm-12">
                
                <div class="row">

                  <div class="col-sm-3">
                    
                    <!--<img src="img/avatars/sunny-big.png" alt="demo user">-->
                    <div class="padding-10">
                        <img *ngIf="base64FotoPerfil" [src]="'data:image/jpg;base64,'+base64FotoPerfil" width="500px" class="img-responsive img-thumbnail" />                      
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <h1>{{artista.d_nombres}} <span class="semi-bold">{{artista.d_apellidos}}</span>
                    <br>
                    <small> {{artista.d_desc_cat}} - {{artista.d_desc_sub_cat}} <br> {{artista.d_desc_act}} - {{artista.d_desc_esp}}</small></h1>
                    <br>
                    <ul class="list-unstyled">
                      <li>
                        <p class="text-muted">
                          <i class="fa fa-phone"></i>&nbsp;&nbsp;(<span class="txt-color-darken">{{artista.d_telefono}}</span>) <span class="txt-color-darken"></span> - <span class="txt-color-darken">{{artista.d_celular}}</span>
                        </p>
                      </li>
                      <li>
                        <p class="text-muted">
                          <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<a href="">{{artista.d_email}}</a>
                        </p>
                      </li>
                      <li>
                        <p class="text-muted">
                          <i class="fa fa-facebook"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{artista.d_otros}}</span>
                        </p>
                      </li>
                      <li>
                        <p class="text-muted">
                          <i class="fa fa-youtube"></i>&nbsp;&nbsp;<span class="txt-color-darken"> <a href="javascript:void(0);" rel="tooltip" title="" data-placement="top" >{{artista.d_youtube}}</a></span>
                        </p>
                      </li>
                    </ul>
                    <br>
                    <p class="font-md">
                      <!--<i>Resumen Artistico</i>-->
                    </p>
                    <p *ngFor="let obj of listaTrayectoria">

                        {{obj.actividad}}

                    </p>
                    <br>
                    <!--<a href="javascript:void(0);" class="btn btn-default btn-xs"><i class="fa fa-envelope-o"></i> Send Message</a>-->
                    <br>
                    <br>

                  </div>
                  

                </div>

              </div>

            </div>

            <div class="row">

              <div class="col-sm-12">

              
              

              </div>

            </div>
            <!-- end row -->

          </div>

        </div>
    <!--<div class="col-md-12">
      <h3 style="text-align: center"> PERFIL DE ARTISTA</h3>
      <div class="col-sm-6">
        
      </div>
      <table class="table table-sm">
        <tbody>
          <tr>
           <td><img *ngIf="base64FotoPerfil" [src]="'data:image/jpg;base64,'+base64FotoPerfil" width="300px" class="img-responsive img-thumbnail" /></td>
            <td>
              <div class="info-name">Nombre Artista:
                <h4> {{artista.d_nombres}} {{artista.d_apellidos}} </h4>
              </div>
              <div class="info-name">Lugar de Nacimiento:
                <span class="value">{{Departamento}} {{Provincia}} {{artista.d_fecha_nacimiento}}</span>
              </div>
              <div class="info-name">Teléfono/Celular:
                <span class="value">{{artista.d_telefono}} {{artista.d_celular}}</span>
              </div>
              <div class="info-name">Canal Youtube:
                <span class="value">{{artista.d_youtube}}</span>
              </div>
              <div class="info-name">Facebook:
                <span class="value">{{artista.d_otros}}</span>
              </div>
            </td>
            <td>
              
            </td>
          </tr>

        </tbody>
      </table>
      <br>
      <table class="table table-sm table-bordered">

        <tbody>
          <tr>
            <td>
              <div class="col-md-12">
                <div class="info-name">Sector:
                  <span class="value">{{artista.d_desc_cat}}</span> Sub Sector:
                  <span class="value">{{artista.d_desc_sub_cat}}</span>
                </div>
                <div class="info-name">Actividad:
                  <span class="value">{{artista.d_desc_act}}</span> Especialidad:
                  <span class="value">{{artista.d_desc_esp}}</span>
                </div>
              </div>
            </td>
          </tr>
         </tbody>
      </table>

    </div>

    <div class="col-md-12">
      <h5>TRAYECTORIA ARTÍSTICA</h5>
      <div *ngFor="let obj of listaTrayectoria">
        <div class="info-value"> {{obj.actividad}}</div>
      </div>
    


    </div>
  -->

  </div>
  </div>
</div>


