
<div *ngIf="showInd">
<div class="bgimgind">
  <table style="WIDTH: 312px; HEIGHT: 195px" border="0" cellspacing="0" cellpadding="0" align="center">
    <tbody>
      <tr>
        <td style="HEIGHT: 52px; FONT-SIZE: 10px" valign="bottom" align="center">
          <!--<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; ESTADO PLURINACIONAL DE BOLIVIA
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; MINISTERIO DE CULTURAS Y TURISMO
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;REGISTRO PLURINACIONAL DE ARTISTAS</strong>-->
        </td>
      </tr>

      <tr>
        <td style="HEIGHT: 90px; FONT-SIZE: 2px" valign="top" align="left">
          <table style="WIDTH: 296px; HEIGHT: 100px" border="0" cellspacing="0" cellpadding="0" width="296" align="center">
            <tbody>
              <tr>
                <td valign="top" colspan="4" align="left"></td>
              </tr>

              <tr>
                <td style="WIDTH: 4px; FONT-SIZE: 2px" align="center">&nbsp;</td>
                <td style="WIDTH: 80px" align="center">&nbsp;</td>
                <td style="WIDTH: 4px; FONT-SIZE: 2px" valign="top" align="left">&nbsp;</td>
                <td valign="top" align="left">&nbsp;</td>
              </tr>

              <tr>
                <td style="WIDTH: 4px; FONT-SIZE: 2px" align="center" >&nbsp;</td>
                <td style="WIDTH: 80px" align="center" v="">
                  <p align="center">
                    <font color="#ffffff" size="1">
                        <img [src]="'data:image/jpg;base64,'+base64Foto" width="80px" class="img-responsive img-thumbnail" alt="Fotografia"/>
                      <!--<img style="WIDTH: 80px; HEIGHT: 80px" id="datos1Image1" border="1" align="middle" src="fotos_individual/201805141933590.Daniela cordero.jpg"
                        height="80">-->
                    </font>
                    <br>
                    <font color="#ffffff" size="1"> <strong>C.I.: </strong> {{artista.d_cedula}} {{exp}}</font>
                    <br>
                    <!--<font size="1" style="line-height: 1" color="ffffff"><strong>{{artista.estado_credencial}} </strong></font>-->
                    <br><font size="1" style="line-height: 1" color="ffffff"><strong>Válida Hasta: {{artista.d_fecha_validez}} </strong></font>
                  </p>
                </td>
                <td style="WIDTH: 4px; HEIGHT: 90px; FONT-SIZE: 2px" valign="top" align="left">&nbsp;</td>
                <td valign="top" align="center" v="">
                  <font size="1">
                    <p align="left" style="margin-bottom:0px">
                      <font size="2" color="#ffffff">
                        <strong>Nombre: </strong>{{artista.d_nombres}} {{artista.d_apellidos}}
                        <br>
                        <!--<strong>C.I.: </strong>{{artista.d_cedula}}&nbsp;
                        <br>-->
                        <strong>Departamento: </strong>{{artista.Departamento}}
                        <br>
                        <strong>Sector: </strong>{{artista.d_desc_cat}}
                        <br>
                        <strong>Sub Sector:</strong>{{artista.d_desc_sub_cat}}
                        
                        <!--<strong>Expedido: </strong>{{artista.d_fecha_registro}} -->
                        <!--<br><strong>Válida Hasta: </strong>{{artista.d_fecha_validez}}-->
                        </font>
                  </font>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <!--<tr>
        <td style="FONT-SIZE: 8px" align="center" v="">
            <font size="2">www.minculturas.gob.bo</font>
        </td>
      </tr>-->
    </tbody>
  </table>
</div>
</div>

<div *ngIf="!showInd">
  <div class="bgimgcol">
    <table style="WIDTH: 312px; HEIGHT: 195px" border="0" cellspacing="0" cellpadding="0" align="center">
      <tbody>
        <tr>
          <td style="HEIGHT: 52px; FONT-SIZE: 10px" valign="bottom" align="center">
            <!--<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; ESTADO PLURINACIONAL DE BOLIVIA
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; MINISTERIO DE CULTURAS Y TURISMO
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;REGISTRO PLURINACIONAL DE ARTISTAS</strong>-->
          </td>
        </tr>
  
        <tr>
          <td style="HEIGHT: 90px; FONT-SIZE: 2px" valign="top" align="left">
            <table style="WIDTH: 296px; HEIGHT: 100px" border="0" cellspacing="0" cellpadding="0" width="296" align="center">
              <tbody>
                <tr>
                  <td valign="top" colspan="4" align="left"></td>
                </tr>
  
                <tr>
                  <td style="WIDTH: 4px; FONT-SIZE: 2px" align="center">&nbsp;</td>
                  <td style="WIDTH: 80px" align="center">&nbsp;</td>
                  <td style="WIDTH: 4px; FONT-SIZE: 2px" valign="top" align="left">&nbsp;</td>
                  <td valign="top" align="left">&nbsp;</td>
                </tr>
  
                <tr>
                  <td style="WIDTH: 4px; FONT-SIZE: 2px" align="center" >&nbsp;</td>
                  <td style="WIDTH: 80px" align="center" v="">
                    <p align="center">
                      <font color="#ffffff" size="1">
                          <img [src]="'data:image/jpg;base64,'+base64Foto" width="80px" class="img-responsive img-thumbnail" alt="Fotografia"/>
                        <!--<img style="WIDTH: 80px; HEIGHT: 80px" id="datos1Image1" border="1" align="middle" src="fotos_individual/201805141933590.Daniela cordero.jpg"
                          height="80">-->
                      </font>
                      <br>
                      <font color="#ffffff" size="1">{{colectivo.numero_registro}}</font>
                      <br>
                      <font size="1" style="line-height: 1" color="ffffff"><strong>{{colectivo.estado_credencial}} </strong></font>
                    </p>
                  </td>
                  <td style="WIDTH: 4px; HEIGHT: 90px; FONT-SIZE: 2px" valign="top" align="left">&nbsp;</td>
                  <td valign="top" align="center" v="">
                    <font size="1">
                      <p align="left" style="margin-bottom:0px">
                        <font size="2" color="#ffffff">
                          <strong>Nombre: </strong>{{colectivo.d_denominacion}} 
                          <br>
                          <strong>Rep: </strong>{{colectivo.d_nom_rep_legal}} {{colectivo.d_ape_rep_legal}}&nbsp;
                          <br>
                          <strong>C.I.: </strong>{{colectivo.d_cedula_rep_legal}} 
                          <br>
                          <strong>Departamento: </strong>{{depto}}
                          <br>
                          <!--<strong>Sector: </strong>{{colectivo.d_desc_cat}}-->
                          
                          <!--<strong>Expedido: </strong>{{artista.d_fecha_registro}} -->
                          <br><strong>Vigencia: </strong>{{colectivo.vigencia}}</font>
                    </font>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!--<tr>
          <td style="FONT-SIZE: 8px" align="center" v="">
              <font size="2">www.minculturas.gob.bo</font>
          </td>
        </tr>-->
      </tbody>
    </table>
  </div>
  </div>

<table style="WIDTH: 312px; HEIGHT: 195px;" border="0" cellspacing="0" cellpadding="0" align="center">
  <tbody><tr>
    <td style="FONT-SIZE: 4px" valign="top" align="center"></td>
  </tr>
 
  <tr>
    <td style="FONT-SIZE: 10px" valign="top" align="center">
      <p align="center" style="margin-bottom: 0px"><span class="Estilo1">El presente documento es personal e intransferible, acredita <br> al portador como artista inscrito en el Sistema de Registro <br> Plurinacional de Artistas Bolivianos. Se solicita a las <br>autoridades y ciudadanía en general brindar la <br>colaboración para el ejercicio de sus funciones.</span>
        <!--La presente credencial es personal e intransferible, acredita al portador como artista inscrito en el Sistema de Registro  Plurinacional de Artistas Bolivianos. Se solicita a las autoridades y ciudadanía en general brindar la colaboración para el ejercicio de sus funciones.<br>
        portador como artista inscrito en el Sistema de Registro  Plurinacional.<br>
        Se solicita a las autoridades y ciudadanía en general brindar<br>
      la colaboración para el ejercicio de sus funciones.--> </p><br>
      <div class="bgimg2"> <div style="float:right;"><qr-code [value]="qr" [size]="100"></qr-code></div></div> <br>
      
    </td>
  </tr>
 
  <tr>
    <td style="HEIGHT: 20px; FONT-SIZE: 10px" valign="bottom" align="center" v="">
        

        <!--<img src="assets/img/firma.png" alt="" style="display: block; margin-left: auto; margin-right: auto;">-->

      <!--<p align="center">Wilma Alanoca Mamani <br>
      <strong>MINISTRA DE CULTURAS Y TURISMO</strong></p>-->
    </td>
  </tr>
</tbody></table>
