/*http://190.129.73.203/artistas/Styles/Blueprint/Images/minculturas/cara_reducida_final.jpg*/
/*background-image: url('http://190.129.73.203/artistas/Styles/Blueprint/Images/minculturas/cara_reducida_final.jpg');*/
/*.bgimgind {
    background-image: url('assets/img/individual.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    height: 220px;
    margin-top: 10px;
}

.bgimg2 {
    background-image: url('assets/img/firma.png');
    background-repeat: no-repeat;
    background-position: center left ;
    width: 312px;
    height: 95px;
}

.bgimgcol {
    background-image: url('assets/img/colectivo.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    height: 220px;
    margin-top: 10px;
}*/