<h4 class="page-title txt-color-blueDark">
        <i class="fa-fw fa fa-group"></i> 
            REGISTRO COLECTIVO 
        <span>>  
                  Ficha de Registro
        </span>
   </h4>

<div class="col-md-12">
    <!--<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/tipo-registro">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">REGISTRO COLECTIVO / Ficha de Registro</li>
        </ol>
      </nav>-->
  <form [formGroup]="artForm" novalidate>
      <p-panel header="Datos Geográficos">
          <fieldset>
              <div class="row">
                  <div class="col-sm-3">
                      <label>Fecha</label>
                      <p-calendar [(ngModel)]="artista.d_fecha" [formControl]="artForm.controls['d_fecha']" dateFormat="dd/mm/yy" class="form-control"
                          placeholder="dd/mm/yyyy" [locale]="es"></p-calendar>
                  </div>
                  <div class="col-sm-3">
                      <div class="form-group">
                          <label>Registrado en</label>
                          <select class="form-control" [formControl]="artForm.controls['id_dpto']">
                            <option *ngFor="let obj of departamentos" [ngValue]="obj">{{obj.descripcion}}</option>
                          </select>

                      </div>
                  </div>
              </div>
          </fieldset>
          <fieldset>
              <div class="row">
                  <div class="col-sm-3">
                      <label>Provincia </label>
                      <input type="text" class="form-control" [formControl]="artForm.controls['d_provincia']" [(ngModel)]="artista.d_provincia"
                          maxlength="36" />
                  </div>
                  <div class="col-sm-3">
                      <div class="form-group">
                          <label>Municipio </label>
                          <input type="text" class="form-control" [formControl]="artForm.controls['d_municipio']" [(ngModel)]="artista.d_municipio"
                              maxlength="36" />
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="form-group">
                          <label>Comunidad / Nación</label>
                          <input type="text" class="form-control" [formControl]="artForm.controls['d_comunidad']" [(ngModel)]="artista.d_comunidad"
                              maxlength="36" />
                      </div>
                  </div>
              </div>
          </fieldset>
      </p-panel>
      <p-panel header="Datos del Grupo">
          <fieldset>
              <div class="row">
                  <div class="col-sm-12">
                      <label>Nombre / Denominación </label>
                      <input type="text" class="form-control" [formControl]="artForm.controls['d_denominacion']" [(ngModel)]="artista.d_denominacion"
                          maxlength="36" />
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Integrantes</label>
                          <textarea rows="3" class="form-control" [formControl]="artForm.controls['d_representantes']" [(ngModel)]="artista.d_representantes"
                              maxlength="36">
                          </textarea>
                      </div>
                  </div>
              </div>
          </fieldset>
      </p-panel>
      <p-panel header="Datos del Contacto">
          <fieldset>
              <div class="row">
                  <div class="col-sm-3">
                      <label>Teléfono </label>
                      <input type="text" class="form-control" [formControl]="artForm.controls['d_telefono_grupo']" [(ngModel)]="artista.d_telefono_grupo"
                          maxlength="36" />
                  </div>
                  <div class="col-sm-3">
                      <label>Celular </label>
                      <input type="text" class="form-control" [formControl]="artForm.controls['d_celular_grupo']" [(ngModel)]="artista.d_celular_grupo"
                          maxlength="36" />
                  </div>
                  <div class="col-sm-3">
                      <label>E-mail </label>
                      <input type="text" class="form-control" [formControl]="artForm.controls['d_email_grupo']" [(ngModel)]="artista.d_email_grupo"
                          maxlength="36" />
                  </div>
              </div>
              
          </fieldset>
      </p-panel>
      <p-panel header="Antecedentes Artisticos">
          <fieldset>
              <div class="row">
                  <div class="col-sm-3">
                      <label>Categoría </label>
                      <select class="form-control" [formControl]="artForm.controls['id_cat']">
                          <option *ngFor="let obj of categorias" [ngValue]="obj">{{obj.d_desc_cat}}</option>
                      </select>
                  </div>
                  <div class="col-sm-3">
                      <label>Subcategoría </label>
                      <select class="form-control" [formControl]="artForm.controls['id_sub_cat']">
                          <option *ngFor="let obj of departamentos" [ngValue]="obj">{{obj.descripcion}}</option>
                      </select>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <label>Especialidad del grupo </label>
                      <input type="text" class="form-control" [formControl]="artForm.controls['d_especialidad_grupo']" [(ngModel)]="artista.d_especialidad_grupo"
                          maxlength="36" />
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Antecedentes del Grupo</label>
                          <textarea rows="3" class="form-control" [formControl]="artForm.controls['d_antecedentes_grupo']" [(ngModel)]="artista.d_antecedentes_grupo"
                              maxlength="36">
                          </textarea>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Trayectoria del Grupo</label>
                          <textarea rows="3" class="form-control" [formControl]="artForm.controls['d_biografia_grupo']" [(ngModel)]="artista.d_biografia_grupo"
                              maxlength="36">
                          </textarea>
                      </div>
                  </div>
              </div>
              
          </fieldset>
      </p-panel>
      <p-panel header="Datos  del Representante">
          <fieldset>
              <div class="row">
                  <div class="col-sm-3">
                      <label>Nombre </label>
                      <input type="text" class="form-control" [formControl]="artForm.controls['d_nom_rep_legal']" [(ngModel)]="artista.d_nom_rep_legal"
                          maxlength="36" />
                  </div>
                  <div class="col-sm-3">
                      <label>Apellidos </label>
                      <input type="text" class="form-control" [formControl]="artForm.controls['d_ape_rep_legal']" [(ngModel)]="artista.d_ape_rep_legal"
                          maxlength="36" />
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <label>Cedula de Identidad </label>
                      <input type="text" class="form-control" [formControl]="artForm.controls['d_cedula_rep_legal']" [(ngModel)]="artista.d_cedula_rep_legal"
                          maxlength="36" />
                  </div>
                  <div class="col-sm-3">
                      <label>Expedido </label>
                      <select class="form-control" [formControl]="artForm.controls['d_exp']">
                          <option *ngFor="let obj of departamentos" [ngValue]="obj">{{obj.descripcion}}</option>
                      </select>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Lugar de Nacimiento</label>
                          <textarea rows="3" class="form-control" [formControl]="artForm.controls['d_lugar_nac_rep_legal']" [(ngModel)]="artista.d_lugar_nac_rep_legal"
                              maxlength="36">
                                  </textarea>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Fecha de Nacimiento</label>
                          <p-calendar [(ngModel)]="artista.d_fecha" [formControl]="artForm.controls['d_fecha']" dateFormat="dd/mm/yy" class="form-control"
                              placeholder="dd/mm/yyyy" [locale]="es"></p-calendar>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Domicilio</label>
                          <input type="text" class="form-control" [formControl]="artForm.controls['d_dom_rep_legal']" [(ngModel)]="artista.d_especialidad_grupo"
                              maxlength="36" />
                      </div>
                  </div>
              </div>
          </fieldset>
      </p-panel>
      <p-panel header="Imágenes Digitales">
          <fieldset>
              <div class="row">
                  <div class="col-sm-3">
                      <label>Logo del Grupo </label>
                      
                  </div>
                  <div class="col-sm-3">
                      <label>Documento de respaldo </label>
                      <select class="form-control" [formControl]="artForm.controls['id_sub_cat']">
                          <option *ngFor="let obj of departamentos" [ngValue]="obj">{{obj.descripcion}}</option>
                      </select>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <label>Tipo de respaldo </label>
                      <select class="form-control" [formControl]="artForm.controls['id_doc_resp']">
                          <option *ngFor="let obj of departamentos" [ngValue]="obj">{{obj.descripcion}}</option>
                      </select>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Estado del Registro</label>
                          <select class="form-control" [formControl]="artForm.controls['id_estado']">
                              <option *ngFor="let obj of departamentos" [ngValue]="obj">{{obj.descripcion}}</option>
                          </select>
                      </div>
                  </div>
              </div>
          </fieldset>
      </p-panel>
  </form>
</div>
<br>
  <div class="col-md-12">
      <p-toolbar>
          <div class="ui-toolbar-group-right">
              <button pButton type="button" label="Guardar" icon="fa-save" (click)="saveDraft()"></button>
              <button pButton type="button" label="Cancelar" icon="fa-times"></button>
          </div>
      </p-toolbar>
  </div>

