
<div *ngIf="rol != 4">
  <h4 class="page-title txt-color-blueDark">
      <i class="fa-fw fa fa-user"></i> 
          LISTADO DE ARTISTAS
          <span>>  
              Individual
    </span>
  </h4>
  
      <!--<pre>{{listaIndividual | json}}</pre>-->
  
      <!--<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" style="float:left" placeholder="Buscar">
          </div>-->
  
  <div class="row">
    <div class="col-md-12">
      <p-dataTable [value]="listaIndividual" [rows]="10" [paginator]="true" [globalFilter]="gb" emptyMessage="No se encontraron registros">
        <p-column [style]="{'width':'5%'}" header="N°">
          <ng-template let-index="rowIndex" pTemplate type="body">
            <span>{{index+1}}</span>
          </ng-template>
        </p-column>
        <!--<p-column field="vin" header="Vin (startsWith)" [filter]="true" filterPlaceholder="Search"></p-column>-->
        <p-column field="d_cedula" header="Cédula de Identidad" [filter]="true" filterPlaceholder="Buscar"></p-column>
        <p-column field="d_nombres" header="Nombres" [filter]="true" filterPlaceholder="Buscar"></p-column>
        <p-column field="d_apellidos" header="Apelidos" [filter]="true" filterPlaceholder="Buscar"></p-column>
        <p-column field="id_estado" header="Estado" [filter]="true" filterPlaceholder="Buscar"></p-column>
        <p-column [style]="{'width':'10%'}" header="Acciones">
          <ng-template let-doc="rowData" pTemplate type="body">
              <button *ngIf="doc.id_estado =='ENVIADO'" type="button" pButton (click)="aprobarFormulario(doc.id_individual)" title="Aprobar Formulario" icon="fa-check"></button>
              <button *ngIf="doc.id_estado =='APROBADO'" type="button" pButton (click)="verCredencial(doc.id_individual)" title="Ver Credencial" icon="fa fa-id-card"></button>
            <!--<button *ngIf="doc.id_estado =='APROBADO'" type="button" pButton (click)="verPerfil(doc.id_individual)" title="Ver Perfil" icon="fa fa-user"></button>-->
            <!--<button *ngIf="doc.id_estado =='APROBADO'" type="button" pButton (click)="ver(doc.id_individual)" title="Ver Hoja Artistica" icon="fa-address-card-o"></button>-->
            <button *ngIf="doc.id_estado =='APROBADO'" type="button" pButton (click)="editarFormulario(doc.id_individual)" title="Editar Formulario" icon="fa-edit"></button>
            <button *ngIf="doc.id_estado =='APROBADO'" type="button" pButton (click)="verFormulario(doc.id_individual)" title="Imprimir Formulario" icon="fa-print"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
    </div>
    </div>
    <br>
  